* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#etch-container {
	border: 5px solid red;
	height: 450px;
	width: 450px;
	margin: 2rem 0 2rem 0;
	display: grid;
}

div {
	border: 0.5px solid gray;
}

#button-container {
	border: none;
	width: 450px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	padding: 0.5rem 1rem;
	background-color: red;
	color: white;
	font-weight: bold;
	border-radius: 2px;
}

button:hover {
	background-color: rgb(141, 2, 2);
}

/* Add border that indicates active button? */