* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#etch-container {
	border: 2px solid red;
	display: grid;
	height: 400px;
	width: 400px;
	grid-template-columns: repeat(16, auto);
	grid-template-rows: repeat(16, auto);
	margin: 2rem 0 2rem 0;
}

div {
	border: 0.5px solid gray;
}

button {
	padding: 0.5rem 1rem;
	background-color: red;
	color: white;
	border-radius: 2px;
}

